:root {
  --failed-color: #a03;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #f0f0f0;
}

a {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-weight: normal;
}

header h1 {
  color: white;
  background: black;
  padding: 10px 20px;
  margin: 0;
}

#stats {
  padding: 1em 0 1em;
  background: #eff;
  border-bottom: 2px solid #def;
  display: flex;
  justify-content: space-around;
}

#stats.failed {
  background: #fee;
  border-bottom: 2px solid #edd;
}

.labeled-number {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.4em 2em;
  border-radius: 40px;
  box-shadow: 0px 2px 6px 0px #0005;
  background: white no-repeat 10px;
}

.labeled-number.total-builds {
  background-image: url('images/build.svg')
}

.labeled-number.running {
  background-image: url('images/running.svg')
}

.labeled-number.successful {
  color: #0a3;
  background-image: url('images/success.svg')
}

.labeled-number.failed {
  color: var(--failed-color);
  background-image: url('images/failed.svg')
}

#current-status {
  margin-top: -30px;
  text-align: center;
}

#current-status img {
  width: 200px;
  display: block;
}

#current-status figcaption {
  margin: -20px;
  font-weight: bold;
  font-size: 1.3em;
}

main {
  margin: 20px 20px;
  padding: 20px 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 0px #0002;
}

main header {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

main h2 {
  margin: 0;
}

.dashboard-tables {
  display: flex;
  justify-content: space-around;
}

.dashboard-tables section {
  flex: 1;
  padding: 0 20px;
}

#search {
}

nav {
}

table {
  border-spacing: 0;
  width: 100%;
}

td, th {
  padding: 5px 0;
  text-align: left;
}

thead th {
  padding-bottom: 0.5em;
  border-bottom: 2px solid #888;
}

tbody th,
tbody td {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #bbb;
}

tbody th {
  font-weight: normal;
}

#failed-table h2,
#running-table h2 {
  background: white no-repeat 0px;
  padding-left: 26px;
}

#failed-table h2 {
  background-image: url('images/failed.svg');
  color: var(--failed-color)
}

#failed-table thead th {
  border-bottom-color: var(--failed-color);
}

#running-table h2 {
  background-image: url('images/running.svg');
}

#history-table {
  padding: 20px;
}

.status-column {
  width: 2em;
  padding-right: 10px;
}

nav a {
  width: 34px;
  height: 34px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

nav a[aria-current="page"] {
  background-size: 30px;
  background-color: #eee;
  border-radius: 50px;
}


.index-tab-icon {
  background-image: url('images/index-tab.svg');
}

.history-tab-icon {
  background-image: url('images/history-tab.svg');
}
